  <ul class="nav">
<br/>
  <li><%=link_to 'VISUALITY', root_path, class: "nav-link"%> </li>
  <li><%=link_to 'DASHBOARD', admins_root_path, class: "nav-link"%> </li>
  <li><%=link_to 'Sign out', destroy_admin_session_path, method: :delete, class: "nav-link"%> </li>
</ul>
<hr />